@import "structure.scss";
@import "nav.scss";
@import "topImage.scss";
@import "mixins.scss";
@import "tours.scss";
@import "footer.scss";

@font-face {
    font-family: gillSans;
    src: url(../fonts/Gill\ Sans.otf);
}
@font-face {
    font-family: gillSansItalic;
    src: url(../fonts/Gill\ Sans\ Italic.otf);
}
@font-face {
    font-family: proximaThin;
    src: url(../fonts/Mark\ Simonson\ \ Proxima\ Nova\ Extra\ Condensed\ Thin\ TheFontsMaster.com.woff);
}